<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="css/login.css">
</head>
<body>
  <div class="form-container">
    <form id="form">
      <label for="emailid">Email:</label>
      <input type="text" name="email" id="emailid" required>

      <label for="passwordid">Password:</label>
      <input type="password" name="password" id="passwordid" required>

      <button type="submit">Login</button>
    </form>

    <a href="./signup" class="link-btn">Signup for New User</a>
  </div>

  <script src="/js/login.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.7/axios.min.js"></script>
</body>
</html>
